.myRow{
    border: 3px solid green;
    padding: 5px;
}
.myCols{
    border: 3px solid blueviolet;
}
.myContainer{
    background-color: rgb(167, 207, 194);
}
#topheader {
    border-bottom: 1px solid silver;
}
#topheader a{
    color: black;
    font-weight: 600;
    font-size: 0.89rem;
}
.container-fluid
{
    padding-left: 0;
    padding-right: 0;
}
nav ul li a {
    font-size: 1.1rem;
    font-weight: 600;
}
/* START FOOTER*/
.full-footer
{
    background-color: darkblue;    
}
.top-footer p{
    color: wheat;
}
.top-footer a{
    color: wheat;
    font-weight: 600px;   
}
.top-footer h3{
    color: wheat;    
}
.bottom-footer{
    background-color: #19232e;
}
.bottom-footer p{
    color:white;
}
/* END FOOTER*/ 
/* START :HERO SECTION*/
.top-hero-section{
    background-color: rgb(73, 133, 93);
    color: white;

} 
.ForImg{
    width: 200px;
}
.requirement-section{
    background-color: rgb(167, 207, 194);
    color:white;
}
/* START : Home page 4rd newsletter section */
.home-newsletter{
    background-color: #004d80;
    color: white;
  }
  .home-newsletter .form-control {
      height: 50px;
      border-color: transparent;
      border-radius: 20px 0 0 20px;
  }
  .home-newsletter .btn {
      min-height: 50px;
      border-radius: 0 20px 20px 0;
      background: #be0280;
      color: #fff;
  }
  
  /* END : Home page 4rd newsletter section */
  
  
  .clients-section{
    background-color: #f0f0f0;
  }
/* END :HERO SECTION*/
.clients-section{
    background-color: #f0f0f0;
  }
  
  /* END-------------------- of home page ---------------------- */
  
  /* START-------------------- of About page ---------------------- */
  .breadcrumbs-section{
    background-color: #e9ecef;
  }
  /* END-------------------- of home page ---------------------- */

/* START-------------------- of About page ---------------------- */
.breadcrumbs-section{
    background-color: #e9ecef;
  }
  /* END-------------------- of About page ---------------------- */
  
  /* START-------------------- of Portfolio ---------------------- */
  /* START-------------------- of Contact Us Page ---------------------- */
.address p{
    font-weight: 600;
  
  }