.myRow{
    border: 3px solid green;
    padding: 5px;
}
.myCols{
    border: 3px solid blueviolet;
}
.myContainer{
    background-color: rgb(167, 207, 194);
}
#topheader {
     border-bottom: 1px solid silver;
}
#topheader a{
    color: black;
    font-weight: 600;
    font-size: 0.89rem;
}
.container-fluid
{
    padding-left: 0;
    padding-right: 0;
}
nav ul li a {
    font-size: 1.1rem;
    font-weight: 600;
}
/* START FOOTER*/
.full-footer
{
    background-color: darkblue;
    
}

.top-footer p{
    color: wheat;
}
.top-footer a{
    color: wheat;
    font-weight: 600px;
   
}
.top-footer h3{
    color: wheat;
    
}
.bottom-footer{
    background-color: #19232e;
}
.bottom-footer p{
    color:white;

}
/* END FOOTER*/